{% extends "autofarm/base.html" %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>
  <!-- ======= Intro Single ======= -->
    <section style="margin:-150px -100px -120px -100px" class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">AutoFarm 소개~~</h1>
              <h5> 원격 제어 농장 프로그램</h5>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->


    <!-- ======= About Section ======= -->
    <section style="margin : 50px 0px 50px 0px" class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
<!--            <div class="about-img-box">-->
<!--              <img src="static/assets/img/smartfarmfirst.jpg" alt="" class="img-fluid">-->
<!--            </div>-->

<!--            <div class="sinse-box">-->
<!--              <h3 class="sinse-title">EstateAgency-->
<!--                <span></span>-->
<!--                <br> Sinse 2017-->
<!--              </h3>-->
<!--              <p>Art & Creative</p>-->
<!--            </div>-->
<!--            -->
          </div>

          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img style="width:563.5px; height:300px;", src="{% static 'assets/img/smartfarmintro.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">Smart 비닐하우스</h3>
                </div>
                <p class="color-text-a">
                 AutoFarm은 원격 제어 기능으로 어디에서든 농장을 관리할 수 있게 해줍니다.
                </p>
                <p class="color-text-a">
                  Iot의 기술을 활용해 센서에서 정보를 읽어 농장의 현상황을 파악할 수 있고 제어 기능을 이용해 원격으로 적절한 조치를 취할 수 있게 해줍니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   <!-- ======= Intro Single ======= -->
    <section style="margin:-100px -50px -10px -50px" class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">

              <h1 class="title-single"> 농장 현황 모니터링 </h1>
              <span class="color-text-a">센서를 통해 얻은 데이터를 화면에 출력</span>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Intro Single-->


    <!-- =======  Blog Grid ======= -->
    <section class="news-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="{% static 'assets/img/mainimage/temperature.jpg'%}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-title-b">


                    <h2 class="title-2">
                      <a>온도
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b"> 비닐하우스 실내 온도 표시 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/humidity.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">

                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a> 습도 </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b"> 비닐하우스 실내 습도 표시 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/co2.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">

                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a > 이산화탄소 농도</a>

                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b"> 비닐하우스 CO2 농도 표시</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Grid-->







<!-- ======= Intro Single ======= -->
    <section style="margin:-100px -50px -10px -50px" class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">농장 제어 기능 </h1>
              <span class="color-text-a">앱을 통해 농장의 원하는 기능을 원격으로 실행 가능 </span>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->



    <!-- =======  Blog Grid ======= -->
    <section class="news-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/waterlightauto.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a> 물, 빛
                       </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b"> 펌프로 물 급여, LED로 빛 세기 조절</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/ceilingcontrol.png" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">

                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a> 천장 </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">서브모터로 천장 개폐</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/temperaturecontrol.png" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">

                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a > 온도 </a>

                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">열선과 쿨러로 온도 조절</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Grid-->


<section style="margin:70px -50px -130px -50px" class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">

          </div>

          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img style= "width:600px; height:250px;" src="static/assets/img/mainimage/smarttractor.PNG" alt="" class="img-fluid">
              </div>

              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d"> Smart 트랙터

                  </h3>
                </div>
                <p class="color-text-a">
                 AutoFarm의 원격 제어 기능을 트랙터에도 적용됩니다.
                  </p>
                <p class="color-text-a">
                  블루투스 통신을 이용해 원격으로 트랙터를 이동할 수 있습니다. 또한 IoT 기술을 활용해 적외선 센서, 무게 감지 센서를 이용해 편리한 서비스들을 제공합니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- ======= Intro Single ======= -->
    <section style="margin:70px -50px -20px -50px" class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
               <h1 class="title-single">트랙터 제어 기능 </h1>
              <span class="color-text-a">앱을 통해 트랙터의 원하는 기능을 원격으로 실행 가능 </span>

            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->





    <!-- =======  Blog Grid ======= -->
    <section class="news-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/remotecontrol.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html"> 원격 조종 </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">블루투스로 앱을 통해 조종</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/weightdistribution.png" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">

                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a> 무게 감지 </a>

                   </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">트랙터의 무게 과부화 방지</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img style="width:400px; height:250px;" src="static/assets/img/mainimage/linetracer.jpg" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">

                  <div class="card-title-b">
                    <h2 class="title-2">
                    <h2 class="title-2">
                      <a > 라인 트레이서 </a>

                   </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">목적지로 자동으로 이동</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Grid-->










</body>
</html>












{% endblock %}