<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.레이아웃">
        <activity android:name=".FrameLayoutTest" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FindVIewExam" />
        <activity android:name=".FindViewTestActivity" />
        <activity android:name=".FindViewTestActivity2" />
        <activity android:name=".FindVIewExam2" />
        <activity android:name=".FindViewTestActivity3" />
        <activity android:name=".ViewTestActivity" />
        <activity android:name=".TextTestActivity2" />
        <activity android:name=".ImageTestActivity" />
        <activity android:name=".ProgressBarTest" />
        <activity android:name=".SeekBarTest" />
        <activity android:name=".CheckBoxTest" />
        <activity android:name=".CheckBoxTest2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>