<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intent">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".exam.SelectView_ExamActivity" />
        <activity android:name=".exam.ListItemDetailActivity" />
        <activity android:name=".UseObjectSecondActivity" />
        <activity android:name=".ReturnDataFirstActivity" />
        <activity android:name=".ReturnDataThirdActivity" />
        <activity android:name=".ReturnDataSecondActivity" />
        <activity android:name=".ExamSecondActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ExamFirstActivity" />
        <activity android:name=".UserObjectTestActivity" />
        <activity android:name=".UseOtherActivityTest" />
        <activity android:name=".ImplicitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>