<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('h1').html('<a href="">abc</a>');
            $('#hh2').html('<a href="">id test</a>');
            $('.c1').html('<a href="">class test</a>');
            $('h3').css('color','red');
            $('h4').css({'color':'red','background':'black'});
        });
    </script>
</head>
<body>
    <h1>jquery test 1</h1>
    <h1>jquery test1</h1>
    <h2 id="hh2">jquery test1</h2>
    <h2 class="c1">jquery test2</h2>
    <h4>hahaha</h4>
</body>
</html>