<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('input[name="id"]').focus();
            $('#login_form > button').click(function(){
                id = $('input[name="id"]').val();
                pwd = $('input[name="pwd"]').val();
                if(id == '' || id == null){
                    alert('ID is mandatory field...');
                    $('input[name="id"]').focus();
                    // return하면 더 이상 진행하지 말라는 의미
                    return;
                };
                if(pwd == '' || pwd == null){
                    alert('PWD is mandatory field...');
                    $('input[name="pwd"]').focus();
                     // return하면 더 이상 진행하지 말라는 의미
                    return;
                };
                // 입력이 끝났으면 서버로 전송
                $('#login_form').attr({
                    'action':'login',
                    'method':'get'
                });
                $('#login_form').submit();
            });
        });
    </script>
</head>
<body>
    <h1>LOGIN</h1>
    <form id="login_form">
        ID<input type="text" name="id"><br>
        PWD<input type="password" name="pwd"><br>
        <button>LOGIN</button>
    </form>
</body>
</html>