<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var n1 = 10.1;  // 10
        var n2 = 'abc'; //"abc"
        var n3 = true;
        var n4 = [1,2,3,4,5];
        var n5 = {'id':'id01','name':'james','age':30} //JSON//
        var n6; //undefined
        var n7 = function(){    //변수에 함수를 넣을 수 있음
        };
        //alert(typeof(n7));
        var a = '100';
        var b = 200;
        //alert(Number(a)+b);

        var str = 'jmlee@naver.com';
        var id = str.substring(0,str.indexOf('@'));
        var domain = str.substring(str.indexOf('@')+1, str.indexOf('.'));
        alert(id);
        alert(domain);
    </script>
</head>
<body>
    <h1>Header1</h1>
    <h2>Header2</h2>
    <h3 onclick="clickh3();">Header3</h3>
</body>
</html>