<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var a = 10;
        if(a > 100){
            alert('big number');
        }else{
            alert('small number');
        };
        var nums = [1,2,3,4,5];
        var sum = 0;
        for(i in nums){
            sum += eval(i);
        };
        alert(sum);
    </script>
</head>
<body>
    <h1>Header1</h1>
    <h2>Header2</h2>
    <h3 onclick="clickh3();">Header3</h3>
</body>
</html>