<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width:100px;
            border:2px solid red;
        }
    </style>
    <script>
    function display(data){
        var result = '';
        for(u in data){
            result += '<h1>';
            result += data[u].id+' '+data[u].name+' '+data[u].age;
            result += '</h1>';
        };
        document.querySelector('div').innerHTML = result;
    };
    function getData(){
        var users = [
            {'id':'id01','name':'james','age':10},
            {'id':'id02','name':'james','age':20},
            {'id':'id03','name':'james','age':30},
            {'id':'id04','name':'james','age':40},
            {'id':'id05','name':'james','age':50},
            {'id':'id06','name':'james','age':60},
        ];
        display(users);
    };
    </script>
</head>
<body>
    <button onclick="getData();">GET DATA</button>
    <div>


    </div>
</body>
</html>