<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adapterview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdapterView">
        <activity android:name=".CustomRowTestActivity"></activity>
<!--        SelectView_ExamActivity의 이름을 정의, action을 정의-->
        <activity android:name=".exam.SelectView_ExamActivity">
            <intent-filter>
                <action android:name="com.exam.adapterView2"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".InflatorTestActivity" />
        <activity android:name=".CustomAdapterTest" />
        <activity android:name=".SpinnerTestActivity" />
        <activity android:name=".CustomRowTestActivity2" />
        <activity android:name=".SimpleAdapterTestActivity" />
        <activity android:name=".ResourceDataListActivity" />
        <activity android:name=".ListViewTestActivity" />
        <activity android:name=".AddViewTestAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>