{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
            background:red;
        }
    </style>
    <script>
    </script>
</head>
<body>
    <h1>Hello Django World!</h1>
    <img src="{% static '/img/logo.jpg' %}">
    <h2><a href="/page2">Page2</a></h2>
    <h2><a href="/page3">Page3</a></h2>
    <h2><a href="/page4">Page4</a></h2>
    <h2><a href="/page5">Page5</a></h2>
    <h2><a href="/page5">Page6</a></h2>
    <h2><a href="/register">Register</a></h2>
    <h2><a href="/multi">Multi</a></h2>
</body>
</html>