<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            width:300px;
            background:yellow;
        }
        table > thead > tr{
            text-align: center;
            background: black;
            color: white;
        }
        table > tbody > tr > td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>44444444444444444</h1>



     <table>
         <caption>Caption Test</caption>
        <thead>
            <tr><td>ID</td><td>pwd</td><td>name</td></tr>
        </thead>
        <tbody>
            <tr><td colspan = "2">1</td><td>3</td></tr>
            <tr><td>4</td><td rowspan="2">5</td><td>6</td></tr>
            <tr><td>7</td><td>9</td></tr>
        </tbody>
    </table>





    <table>
        <thead>
            <tr><td>ID</td><td>pwd</td><td>name</td></tr>
        </thead>
        <tbody>
            <tr><td>aaa</td><td>ggg</td><td>sss</td></tr>
            <tr><td>aass</td><td>dfdf</td><td>sss</td></tr>
            <tr><td>aaa</td><td>eee</td><td>eee</td></tr>
        </tbody>
    </table>
</body>
</html>