{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Potta+One&display=swap" rel="stylesheet">
    <style>
        body{
            background:pink;
            background-image: url("{% static 'img/bg.jpg' %}");
        }
        h2{
            text-align:center;
            font-size:2em;
            color:red;
            font-family: Arial, Helvetica, sans-serif;
        }
        h3{
            font-family: 'Potta One', cursive;
        }
        h4{
            font-family: 'Coda Caption', sans-serif;
        }

    </style>
</head>
<body>
    <h1>CSS02 Main Page</h1>
    <h2>CSS Font Test</h2>
    <h3>CSS Font Test</h3>
    <h4>CSS Font Test</h4>
</body>
</html>