<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'itemupdateimpl' %}" method="post"
    enctype="multipart/form-data">
            {% csrf_token %}
            ID{{item.id}}
            NAME<input type="text" name="id" value="{{item.name}}"><br>
            PRICE<input type="text" name="pwd" value="{{item.price}}"><br>
            IMG{{item.imgname}}<br>
            NEW IMG<input type="file" name="newimg">
            <input type="hidden" name="id" value="{item.id}}">
            <input type="hidden" name="img" value="{item.imgname}}">
            <input type="submit" value="UPDATE">
      </form>
</body>
</html>