{% extends "base.html" %}

{% load static %}
{% block content %}

    <style>
        header > h1 > a{
            color: white;
        }
         section > h3 > img {
            width:900px;
            height:600px;
        }
    </style>
    <header>
        <h1><a href="{% url 'shop2' %}">Naningu.com</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'userlist' %}">User List</a></li>
            <li><a href="{% url 'useradd' %}">User Add</a></li>
            <li><a href="{% url 'itemlist' %}">Item List</a></li>
            <li><a href="{% url 'itemadd' %}">Item Add</a></li>
        </ul>

    </nav>

    {% if section %}
        {% include section %}
    {% else %}
        {% include  "shop2/mainsection.html" %}
    {% endif%}

    <footer></footer>
{% endblock %}




